@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #000;
}

body {
  @apply bg-black text-slate-50 antialiased;
  background-image: radial-gradient(
    1200px 600px at 50% -120px,
    rgba(34, 197, 94, 0.14),
    transparent 60%
  );
}

::selection {
  @apply bg-brand-600/70 text-white;
}

/* Hide scrollbars completely */
html,
body {
  scrollbar-width: none;
}
*::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
